---
import Container from "@/components/container.astro"
import Layout from "@/layouts/Layout.astro"

import RaftNight from './raft-night.mdx';
import LapSwimHour from './lap-swim-hour.mdx';
import BabyPoolHour from './baby-pool-hour.mdx';

const title = 'Events at the Pool'
const menuKey = 'main';

const divClassList = [
,'prose prose-tightSmall py-1 max-w-full mb-4 rounded-xs']

---

<Layout {title} {menuKey}>
    <Container class="prose prose-tightSmall sm:prose-tight  pt-4 pb-8 md:pt-4 md:pb-24" >
        <h1>Events at the Pool</h1>
        <div class:list={divClassList}>
            <RaftNight/>
        </div>
        <hr/>
        <div class:list={divClassList}>
            <LapSwimHour/>
        </div>
        <hr/>
        <div class:list={divClassList}>
            <BabyPoolHour/>
        </div>
    </Container>
    
</Layout>

